.box-contato {

    // INPUTS // 
    .form-group,
    .form-control {
        
        input,
        textarea  {
            border: 1px solid #59be42;
            border-radius: 40px;

        }
        input {
            height:50px;
        }
        textarea {
            height:150px;
            padding-top: 15px;

        }
    }

    .contatoDescription{
        padding: 20px 60px 40px 60px;
        text-align: center;
        font-size:20px;
        border-bottom: 1px solid #a8a8a8;
        margin-bottom: 40px;
      }

    .box_endereco{

        background-color: #59be42;
        color:#fff;
        padding:40px;
        display: block;
        border-radius: 40px;
        a {
            color:#3f2358;
            text-decoration: none;
        }

    
    }
}




.box_endereco p{
  text-align: center;
  font-size:18px;
}