.footer-area {
    background-color: #fff;
  }
  
  .footer-widget {
    padding-top: 90px;
    padding-bottom: 120px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-widget {
      padding-top: 70px;
      padding-bottom: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .footer-widget {
      padding-top: 50px;
      padding-bottom: 80px;
    }
  }
  
  .footer-logo-support {
    .footer-logo .social {
      margin-left: 35px;
  
      li {
        display: inline-block;
        margin-right: 10px;
  
        a {
          font-size: 24px;
          color: #6c6c6c;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
  
          &:hover {
            color: #0067f4;
          }
        }
      }
    }
  
    .footer-support span {
      font-size: 20px;
      line-height: 25px;
      color: #6c6c6c;
      font-weight: 600;
  
      &.mail {
        margin-left: 32px;
      }
    }
  }
  
  @media (max-width: 767px) {
    .footer-logo-support .footer-support span {
      display: block;
    }
  }
  
  @media (max-width: 767px) {
    .footer-logo-support .footer-support span.mail {
      margin-left: 0;
    }
  }
  
  .footer-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
  }
  
  .footer-link {
    margin-top: 32px;
    text-align: left;
  
    ul {
      margin-top: 8px;
  
      li a {
        font-size: 16px;
        line-height: 16px;
        color: #000;
        margin-top: 16px;
        font-weight: 500;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
  
        &:hover {
          color: #0067f4;
        }
      }
    }
  }
  