#home {
   
    max-height: 835px;

    .slider {
        img {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    @media (max-width: 767px) {
        min-height: 320px;
        background-color: #733f89;

    }

    .content-home {
        display: block;
        position: absolute;
        top: 35%;
        left: 5%;
        @media (max-width: 767px) {
          padding-top: 10%;
          position: relative;

        }
      
        h1 {
          font-size:80px;
          text-transform: uppercase;
          color:#59be42;    
          margin-bottom: -20px;
      
          @media (max-width: 767px) {
            margin-bottom: 10px;
            font-size:42px;
          }
      
        }
        h2{
          font-size:40px;
          color:#fff;  
          @media (max-width: 767px) {
            font-size:22px;
          }  
       }
      
       .btn-vervagas {

            max-width: 250px;
            text-align: center;
            color:#fff;
            padding: 20px 40px;
            font-size:30px;
            background-color:#59be42;  
            text-decoration:none;
            display: block;  

            @media (max-width: 767px) {
                font-size:20px;
                max-width: 215px;
                padding: 10px 20px;
                margin-top: 30px;
            } 
            &:hover {
        
            color:#59be42; 
            text-decoration:none;
            background-color:#fff;  
        
            }
        }
    }
}
#about {
    margin-top: 20px;
    .box-content-01 {
        background-color: #fff;
        box-shadow: 0px 2px 8px #ababab;
    }
     .box-text {
        padding: 10px 40px;
        h2 {
            font-size: 18px;
            color: #000;
        }
    }
}

#works {

    .section-heading {
        @media (max-width: 767px) {
            margin-top: 60px;
        }  
    }
    .box-content {
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }   
    }
    @media (max-width: 767px) {
        background-color: #541a77;
        background-image: none!important;
    } 
}