.navbar {
    @media (max-width: 991PX) {
        width: 65%;
        float: left;
    }
}
 
#navigation  {

    width: 100%;
    display: block;
    background-color: #602086;
    transition: height 0.9s ease-out;
    -webkit-transition: height 0.9s ease-out;
    -moz-transition: height 0.9s ease-out;
    -ms-transition: height 0.9s ease-out;
    -o-transition: height 0.9s ease-out;
    .menu-btn {
        display: none;
        &:hover {
            background-color: #f4f4f4;
        }
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 70px 20px;
        position: relative;
        user-select: none;
        display: none;
        @media (max-width: 991PX) {

            display: block;

        }
        .navicon {
            background: #fff;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
            &:before {
                top: 5px;

            }
            &:after {
                top: -5px;

            }
            &:before,
            &:after {
                background: #fff;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }
        }
      }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        overflow: hidden;
        display: none;
        background-color:#541a77;

        @media (max-width: 991PX) {
            display: block;
        }
        li {
            border-bottom: solid 1px #fff;
            a {
                color:#fff;

                display: block;
                padding: 20px 20px;
                text-decoration: none;
            }
            &:hover {
                background-color: #c18ff0;
            }
        }
        .btn-cadastro {
            text-transform: uppercase;

        }
        .btn-entrar {
            text-transform: uppercase;
            border: none;
        }
    }
}



#navigation{
    #myLinks {
        margin-top: 30px;

        @media (max-width: 991PX) {
            display: none
        }
        .btn-entrar {
            padding: 6px 20px;
        }
    }
    
  .navbar {
      margin-bottom: 0;
  }
  
  .navbar-brand {
      font-weight: 700;
  }
   
  .navbar-brand:focus {
      outline: 0;
  }
  
  .nav.navbar-nav {
    margin-top:20px;
      padding:30px;
  }
  
  .navbar-fixed-top ul.nav li a {
      font-size: 14px;
      letter-spacing: 3px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  .navbar-fixed-top.top-nav-collapse ul.nav li a {
          -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      color: #fff;
  }
  
  .navbar-fixed-top ul.nav ul.dropdown-menu {
        border-radius: 0;	
      margin-top: 21px;
      border-top: none;
  }
  
  .navbar-fixed-top ul.nav li a:hover ul.dropdown-menu {
          -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }
  
  .navbar-fixed-top ul.nav ul.dropdown-menu li:last-child{
      border-bottom: none;
  }
  
  .navbar-fixed-top ul.nav ul.dropdown-menu li a {
      padding: 10px 20px;
  }
  
  .navbar-fixed-top.top-nav-collapse ul.nav ul.dropdown-menu li a {
      color: #666;
  }
  
  .navbar-fixed-top .nav li a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
  }
  
  .navbar-fixed-top .nav li a:hover,
  .navbar-fixed-top .nav li a:focus,
  .navbar-fixed-top .nav li.active {
      outline: 0;
      background-color:#59be42;    
      color:#fff;
  }
  

}
  .navigation .menu-btn:checked ~ .menu {
    max-height: 440px;
  }
  
  .navigation .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navigation .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navigation .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  