.navbar {
    @media (max-width: 991PX) {
        width: 65%;
        float: left;
    }
}
 
.navigation  {

    .menu-btn {
        display: none;
        &:hover {
            background-color: #f4f4f4;
        }
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 70px 20px;
        position: relative;
        user-select: none;
        display: none;
        @media (max-width: 991PX) {

            display: block;

        }
        .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
            &:before {
                top: 5px;

            }
            &:after {
                top: -5px;

            }
            &:before,
            &:after {
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }
        }
      }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        overflow: hidden;
        display: none;
        background-color:#541a77;

        @media (max-width: 991PX) {
            display: block;
        }
        li {
            border-bottom: solid 1px #fff;
            a {
                color:#fff;

                display: block;
                padding: 20px 20px;
                text-decoration: none;
            }
            &:hover {
                background-color: #c18ff0;
            }
        }
        .btn-cadastro {
            text-transform: uppercase;

        }
        .btn-entrar {
            text-transform: uppercase;
            border: none;
        }
    }
}

  .navigation .menu-btn:checked ~ .menu {
    max-height: 440px;
  }
  
  .navigation .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navigation .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navigation .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  