/* REGISTER PAGE */

.container-curriculum {
    
    border-bottom: 2px solid #bbbbbb;
    padding-bottom: 60px;

    .box-form {
      padding: 20px 50px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
      margin-top: 20px;

      h2 {
        color: #602086;
      }
      .form-control {
        border-color: #8a8a8a;
        border-radius: 40px;
      }

      button {
        background-color:#59be42;
        outline: none;
        border: none;
        display: block;
        margin-top: 40px;
        &:hover {
          background-color:#1e5f0f;

        }
        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
    
    .site-logo {
      margin-top: 20px;
      float: left;
    }  
    
  }
 