@import "fonts";
@import "footer";
@import "menu_mobile";
@import "sidebar";
@import "register_curriculo";
@import "detalhes_vagas";
@import "contato";
@import "home";


// BUTTONS // 


input:focus,
button:focus,
select:focus {
  outline: 0;
}
.btn {
    font-size: 16px;
    color: #fff;
    background-color: #59be42;
    padding: 10px 20px;
    margin: 0 auto;
    text-transform: uppercase;
    border:none;
  }
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// STRUCTURE //

.QuemSomosHeader, 
.VagaDetalhesHeader, 
.CurriculumHeader, 
.ContatoHeader{
  background-color: #3f2358;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.QuemSomosHeader h1, 
.VagaDetalhesHeader h1, 
.CurriculumHeader h1, 
.ContatoHeader h1{
  font-size:40px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: -20px;

}


.box-container {
  display: block;
  margin: 0 auto 20px auto;
  background:rgb(236, 236, 236);
  border-radius: 40px;
  padding:40px;
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

  p {
      padding: 0;
      margin: 0;
  }
  h3 {
      text-align: center;
      border-bottom: 1px solid #a8a8a8;
      padding-bottom: 40px;
      margin-bottom: 40px;
  }
  .text-description {
      padding:20px 0;
      min-height: 200px;
  }
  .publicad-data{

  }
}
.img-config {
  border-radius: 40px;

}
.searchBarArea {
  background: #3f2358;
  margin-bottom: 40px;
  input {
    height: 44px;
    border-top-left-radius: 40px!important;
    border-bottom-left-radius: 40px!important;
  } 

  .container-search {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 40px 0;
  
      @media (max-width: 991px) {
  
        width: 80%;
  
    }
    .form-content {
      display: table;
      width: 100%;
    }
    small {
      color:#fff;
      width: 100%;
      display: block;
    }
    .input-search {
      float: left;
      width: 87%;
  
        @media (max-width: 767px) {
  
          width: 55%;
  
      }
    }
    .btn-buscar {
      outline: 0;
      background-color:#59be42;    
      color:#fff;
      float:right;
      border:none;
      outline: none;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      &:hover {
        background-color:rgb(146, 146, 146);
      }
    }
  }
}
// END STRUCTURE //



.box-logar {
    background-color: rgb(218, 218, 218);
    text-align: center;
    min-height: 300px;
    padding: 40px;
    margin:20px auto;

    .btn-logar {
        color:#fff;
        background-color: #59be42;
        padding:10px 20px;
        margin: 0 auto;
        text-transform: uppercase;
        margin-top: 30px;
        &:hover {
            color: #fff;
            text-decoration: none;
            background-color: #1f6110;
        }
    }
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #666;
    background-color: #fff;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
}

.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

i, span, a {
    display: inline-block;
}
a {
    color: #59be42;
    text-decoration: none;
    background-color: transparent;
}


/* ------- Private Access ------- */ 
.PrivateAccessHeader{
  background-color: #3f2358;
  padding-top: 81px;
  padding-bottom: 81px;
  text-align: center;
}

.PrivateAccessHeader h1 {
  font-size:40px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: -20px;
}

.CenterPage{
  text-align: center;
}


/* ------- Vagas ---------------- */ 

.TitleVagasSearch{
  color: white;
}


.container-vagas {

  .btn_default {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 4px 30px;
    background-color:#59be42;    
    color:#fff;
    text-decoration: none;
    &:hover {
      background-color:rgb(146, 146, 146);
    }
  }
}

/* --- logo --- */
.site-logo {	
	margin-top:5px;
  background-image: url(../img/logo-winn.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 260px;
  height: 120px;
  transition: height 0.9s ease-out;
    -webkit-transition: height 0.9s ease-out;
    -moz-transition: height 0.9s ease-out;
    -ms-transition: height 0.9s ease-out;
    -o-transition: height 0.9s ease-out;
    &:hover {
      text-decoration:none;
    }
  
}

 /* scroll topo */

 .small {
  position: fixed;
  box-shadow: 0px 1px 10px #000;
  z-index: 9999;
  height: 134px;

  #navigation {
  
  .site-logo {
    height: 100px; 
    //background-image: url(../img/logo-winn-white.png);

  }
 }
}





.btn-cadastro {
    outline: 0;
    background-color:#59be42;    
    color:#fff;
}

.btn-entrar {
    border:2px solid #fff;
    margin-left: 10px;
    box-sizing: border-box;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 18px;
    color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

/* --- services --- */
#services {
	text-align:center;
	background-color:#f9f9f9;
}

/* --- works --- */
#works {

    min-height:930px;
    background-image: url(../img/4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#works h2 {
  color: #fff;

}
#works p {
  color: #fff;

}
#works .box-content {
    text-align: center;
    padding:40px;
    background-color: #fff;
    height: 460px
}
#works .box-content h2 {
    font-size:30px;
    color: #000;

}
#works .box-content p {
    margin-top:30px;
    text-align: left;
    color: #000;

}
/* ===========================
--- General sections
============================ */
.home-section {
    padding-top: 40px;
    padding-bottom: 110px;
	display:block;
    position:relative;
    z-index:120;
}

.section-heading {
	margin-top:120px;
	margin-bottom:60px;
}



.section-heading h2 {
	font-size: 40px;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-heading p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.6em;
}

.service-icon {
	margin-bottom:50px;
	
}

.service-icon:hover {
	color:#D09A43;
	
}

/* ===========================
--- Footer
============================ */




/* --- progress --- */
.progress {
  height: 40px;

}
.progress-bar {
  font-size: 14px;
  line-height: 40px;
}

/* --- Map --- */
.map{
	position:relative;
	padding-top:100px;
	margin-top:30px;
}

/* google map */
#google-map{
    position:relative;
    height: 400px;
}

.contact-wrap {
  margin-top: 80px;
  margin-bottom:80px;
}

.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
  border-radius:0;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#eee;
  box-shadow: none;
  border-radius:0;
}

textarea#message{
  resize: none;
  padding: 10px;
  border-radius:0;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

